extends ../layout/main
block variables
    - let title = 'Animation cradle';
    - let description = 'Animation practice';
    - let pageClass = 'page-wrapper';

block header
    .cradle
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )
        .cradle__item
            img.cradle__img(
                src="assets/img/death-star.png"
            )